* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 600;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  background-image: url('../images/inades-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.main-content .logo {
  margin: 1rem 0;
  color: #eaeaea;
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  font-weight: 900;
}

.main-content .logo img {
  margin-right: 0.5rem; 
  width: 40px;
}

.main-content .logo span {
  color: #ff0000;
  font-size: 28px;
  margin-left: 0.15rem;
}

.main-content h2 {
  color: #eaeaea;
  font-size: 35px;
  line-height: 50px;
}

.main-content .countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.main-content .countries a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 1rem;
}

.main-content .countries a .country {
  width: 120px;
  height: 120px;
  border: 3px solid #ff0000;
  border-radius: 100%;
  background-color: #eaeaea;
  margin: 1rem;
}

.main-content .countries a:hover .country {
  border: 2px solid #cccccc;
}

.main-content .countries a .country-name {
  font-size: 16px;
  color: #eaeaea;
}

@media screen and (min-width: 415px) {
  .main-content .countries a .country {
    width: 150px;
    height: 150px;
  }
}
