.vscode/
.DS_Store


css/.DS_Store
css/bootstrap/.DS_Store
css/css/.DS_Store

js/.DS_Store
images/.DS_Store
fonts/.DS_Store
fonts/ionicons/font/.DS_Store
fonts/flaticon/.DS_Store
fonts/flaticon/font/.DS_Store

ng/.DS_Store
ng/assets/.DS_Store
uk/.DS_Store
uk/assets/.DS_Store